.custom_body
{
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#custom_container
{
    /* margin-left: 5%;
    margin-right: 5%; */
    padding-left: 5%;
    padding-right: 5%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#custom_title
{
    margin-left: 5%; 
    margin-right: 5%;
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 3% 10% 3% 10%;
}

#custom_content
{
    background-color: #ffffff;
    /* padding-left: 5%;
    padding-right: 5%; */
}

#custom_image_container
{
    height: 300px;
    background-color: #fff4e6;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

#package_details_container
{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#field
{
    font-size: 1.2em;
    font-family: rockwell;
}

#cont
{
    margin-top:1%;
    padding-left: 3%;
    text-decoration: underline; 
}

#package_details_it 
{
    border: solid;
    width: 100%;
}

#package_details_it th
{
    text-align: left;
    border: solid;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#package_details_it td 
{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#package_details_it tr:nth-child(even) 
{
    background-color: lightgray;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#package_details_content
{
    border-top: solid;
    padding-top: 2%;
    padding-left: 5%;
    margin-top: 3%;
}


#itenerary_table
{
    width: 100%;
    border: solid;
    border-width: thin;
}

#itenerary_table td
{
    padding-top: 2%;
    padding-left: 2%;
}


/* button -----------------------------------------------------*/
#order_button_container
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 0%;
    padding-bottom: 5%;
}

#order_button
{
    width: 100%;
    cursor: pointer;
    background-color: #2786ca;
    color:white;
    padding: 5px 20px;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    text-align: center;
      
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: helvetica;
    font-size: 100%;  
}

