/* ------------------------------------------------------------------- */
/* slideshows */
/* ------------------------------------------------------------------- */

.slideshow_container
{
  /* position: relative; */
  width: 100%;
  background-color: #212635;
}

#slideshow_title
{
  /* margin-left: 5%; 
  margin-right: 5%; */
  background-color: rgb(58, 57, 57);
  color: #ffffff;
  font-family: helvetica;
  font-size: 1.5em;
  padding: 1% 3% 1% 10%;
}

.slideshow_img
{
  width: 100%;
  max-height: 550px;
}

.slide_text
{
  margin-top: 1%;
  color: #000000;
  font-family: rockwell, helvetica;
  font-size: 30px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center; 
}

#KL_intro
{
  font-family: helvetica;
  font-size: 1.2em;
  line-height: 30px;
  margin-left: 5%;
  margin-right: 25%;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.numbertext {
  display: none;
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #504d4d;
}

/* Fading animation */
.fade {
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: fade 0.5s forwards;
  animation-delay: 2s;
}

@-webkit-keyframes fade {
  100% { left: 0; }
}

@keyframes fade {
  100% { left: 0; }
}

#line
{
  margin-right: 3%;
  margin-left: 3%;
}

#more_location_title
{
  background-color: rgb(58, 57, 57);
  color: #ffffff;
  font-family: helvetica;
  font-size: 1.5em;
  padding: 1% 3% 1% 10%;
}

#more_location_container
{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#locations_div
{
  margin: 2%;
  background-color: rgb(232, 250, 250);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.locations_des
{
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.location_img
{
  width: 100%;
  max-height: 150px;
}

#why
{
  background-image: url("../Media/Default/b.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#why_title
{
  /* margin-left: 5%; 
  margin-right: 5%; */
  background-color: rgb(58, 57, 57);
  color: #ffffff;
  font-family: helvetica;
  font-size: 1.5em;
  padding: 1% 3% 1% 10%;
}

#why_content
{
  background-color: #ffffff;
  font-family: rockwell, helvetica;
  margin: 0 5% 0 5%;
  padding-left: 5%;
  padding-bottom: 5%;
}

.why_head
{
  padding-top: 5%;
  font-weight: bold;
  font-size: 1.5em;
}

.why_tail
{
  padding-top: 1%;
  padding-left: 3%;
  font-size: 1em;
}

#SR
{
  margin-left: 35%;
}

#find_out_more
{
  padding: 40% 20% 40% 30%;
}

#find_out_more a
{
    color:#297db9;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
}

#find_out_more a:hover
{
    color: red;
}

#about_c
{
  line-height: 25px;
}

@media only screen and (min-width: 580px) 
{
  .slideshow_container
  {
    /* position: relative; */
    /* width: 100%; */
    /* height: 550px; */
    background-color: #3e4350;
    padding-right: 10%;
    padding-left: 10%;
  }

  .slideshow_img
  {
    width: 100%;
    max-height: 600px;
  }

  #KL_intro
  {
    font-family: helvetica;
    font-size: 1.2em;
    line-height: 30px;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  #more_location_container
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .location_img
  {
    width: 100%;
    max-height: 200px;
  }
}

@media only screen and (min-width: 1300px) 
{
  .slideshow_container
  {
    /* position: relative; */
    /* width: 100%; */
    /* height: 550px; */
    background-color: #3e4350;
    padding-right: 10%;
    padding-left: 10%;
  }

  .slideshow_img
  {
    width: 100%;
    max-height: 600px;
  }

  #KL_intro
  {
    font-family: helvetica;
    font-size: 1.2em;
    line-height: 30px;
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 2%;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  #more_location_container
  {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }

  .location_img
  {
    width: 100%;
    max-height: 210px;
  }
}