#outer
{
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

#invoice_container
{

    background-color: #ffffff;
    font-family: rockwell, helvetica;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 15%;
    border: solid;
    border-width: thin;
}

#invoice_title
{
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    
    font-size: 1.5em;
    padding: 3% 5% 3% 5%;
}

#booking_date
{
    font-size: 1em;
}

#package_details_title
{
    font-size: 1.2em;
    padding: 3% 5% 3% 5%;
}

.package_details_breakdown
{
    font-size: 1.2em;
}

#package_breakdown
{
    margin-left: 7%;
    margin-right: 10%;
}

#package_total, #package_person, #package_price, #package_description, #package_title
{
    padding: 2% 3% 4% 3%;
}

.package_total
{
    padding: 3% 5% 1% 5%;
}

#total
{
    padding: 1% 7% 3% 7%;
}

#total_price
{
    border: solid;
    font-size: 1.8em;
}

/* #package_price_summary
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
} */



/* additional details */
#additional_breakdown
{
    margin-left: 7%;
}

#additional_details_title
{
    font-size: 1.2em;
    padding: 3% 5% 3% 5%;
}

.additional_details_breakdown
{
    font-size: 1.2em;
}

#hotel_details, #hotel_name
{
    padding: 2% 3% 5% 3%;
}

#lunch
{
    padding: 5% 3% 10% 3%;
}

#dinner
{
    padding: 5% 3% 10% 3%;
}

@media only screen and (min-width: 768px)
{
    #invoice_container
    {
        font-family: rockwell, helvetica;
        margin-left: 15%;
        margin-right: 15%;
        padding-bottom: 15%;
        border: solid;
        border-width: thin;
    }

    #additional_breakdown
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 7%;
    }

    #package_price_summary
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}







/* Payment */
#payment_breakdown
{
    margin-left: 7%;
}

#payment_details_title
{
    font-size: 1.2em;
    padding: 3% 5% 3% 5%;
}

.payment_details_breakdown
{
    font-size: 1.2em;
}

#payment_details_name, #payment_details_method,#payment_details_address,#payment_details_contact  
{
    padding: 2% 3% 10% 3%;
}

#line
{
    margin-left: 3%;
    margin-right: 3%;
}

@media only screen and (min-width: 768px)
{
    #payment_breakdown
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 7%;
    }
}