#outer
{
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#make_title
{
    margin-left: 5%; 
    margin-right: 5%;
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 3% 10% 3% 10%;
}

#hotel_form_container
{
    background-color: #fff4e6;
}

#hotel_title
{

    font-family: rockwell;
    text-align: center;
    font-size: 1.5em;
    padding: 5%;
}

#hotel_custom
{
    padding: 2%;
    border-top: solid;
    border-bottom: solid;
}

#hotel_form_container
{
    margin-left: 5%;
    margin-right: 5%;
}

#hotel_form
{
    border-color: #000000;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 5%;
}

.hotel_container
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hotel_container:hover
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
/* 
#hotel_container_outer
{
    cursor: pointer;
    background-color: #ffffff;
    padding: 1em;
    color: #000000;
} */

#hotel_image_container
{
    color: #000000;
    height: 250px;
    background-color: #ffffff;
    /* padding-left: 7%;
    padding-right: 7%; */
}

#hotel_details
{
    padding-top: 3%;
}

#hotel_name_container
{
    border-top: solid;
    padding-top: 2%;
    color: #000000;
    margin-bottom: 2%;
}

#hotel_des_container
{
    color: #000000;
    margin-bottom: 2%;
}

#hotel_rate_container
{
    color: #000000;
    padding-bottom: 2%;
    border-bottom: solid;
}


@media only screen and (min-width: 768px) {
    #hotel_form
    {
        padding: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #fff4e6;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .hotel_container
    {
        margin: 10px;
        background-color: #fce6cc;
        padding: 1em;
        color: #d9480f;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
        
}

@media only screen and (min-width: 1180px) {
    #hotel_form
    {
        padding: 5%;
        margin-left: 1%;
        margin-right: 1%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #fff4e6;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .hotel_container
    {
        margin: 10px;
        background-color: #fce6cc;
        padding: 1em;
        color: #d9480f;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #hotel_image_container
    {
        color: #000000;
        height: 250px;
        background-color: #ffffff;
        /* padding-left: 7%;
        padding-right: 7%; */
    }
        
}

#pickDate
{

    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%; 
    border-color: #000000;
    background-color: #fff4e6;

}

#pickDate_title
{
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 5% 5% 5% 5%;
}


#date_input
{
    width: 200px;
    height: 50px;
    font-family: rockwell, helvetica;
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 2%;
}

#error_pickDate
{
    font-size: 1em;
    font-family: rockwell, helvetica;
    display: none;
    margin-left: 5%;
    padding-bottom: 5%;
    color: #d9480f;
}

#personAmount_title
{
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 5% 5% 5% 5%;
}

#amount_input
{
    width: 200px;
    height: 50px;
    font-family: rockwell, helvetica;
    font-size: 1em;
    margin-left: 5%;
    margin-bottom: 2%;
}

#checkout_button_container
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#checkout_button
{
    width: 100%;
    cursor: pointer;
    background-color: #2786ca;
    color:white;
    padding: 10px 20px 5px 20px;
    text-align: center;
      
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: rockwell,helvetica;
    font-size: 1.5em;
}

@media only screen and (min-width: 1180px)
{   
    #pickDate
    {

        margin-left: 5%;
        margin-right: 5%;
        margin-top:5%; 
        border-color: #000000;
        background-color: #fff4e6;
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }

    #checkout_button_container
    {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

}



/* lunch section-------------------------------------------------------- */

#lunch_form_container
{
    margin: 5% 5% 5% 5%;
    background-color: #fff4e6;
}

#lunch_title
{

    font-family: rockwell;
    text-align: center;
    font-size: 1.5em;
    padding: 5%;
}

#lunch_custom
{
    padding: 2%;
    border-top: solid;
    border-bottom: solid;
}


#lunch_form
{
    border-color: #000000;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 5%;
}

.lunch_container
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #d9480f;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lunch_container:hover
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#lunch_image_container
{
    color: #000000;
    height: 250px;
    background-color: #ffffff;
    /* padding-left: 7%;
    padding-right: 7%; */
}

#lunch_details
{
    padding-top: 3%;
}

#lunch_name_container
{
    border-top: solid;
    padding-top: 2%;
    color: #000000;
    margin-bottom: 2%;
}

#lunch_des_container
{
    color: #000000;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: solid;
}


@media only screen and (min-width: 768px) {
    #lunch_form
    {
        padding: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #fff4e6;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .lunch_container
    {
        margin: 10px;
        background-color: #fce6cc;
        padding: 1em;
        color: #d9480f;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
        
}


/* dinner section ------------------------------------------------------------ */

#dinner_form_container
{
    margin: 5% 5% 5% 5%;
    background-color: #fff4e6;
}

#dinner_title
{

    font-family: rockwell;
    text-align: center;
    font-size: 1.5em;
    padding: 5%;
}

#dinner_custom
{
    padding: 2%;
    border-top: solid;
    border-bottom: solid;
}


#dinner_form
{
    border-color: #000000;
    background-color: #fff4e6;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 5%;
}

.dinner_container
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dinner_container:hover
{
    margin:10px;
    cursor: pointer;
    background-color: #fce6cc;
    padding: 1em;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.dinner_image_container
{
    color: #000000;
    height: 250px;
    background-color: #ffffff;
}

#dinner_details
{
    padding-top: 3%;
}

#dinner_name_container
{
    border-top: solid;
    padding-top: 2%;
    color: #000000;
    margin-bottom: 2%;
}

#dinner_des_container
{
    color: #000000;
    margin-bottom: 2%;
    padding-bottom: 2%;
    border-bottom: solid;
}


@media only screen and (min-width: 768px) {
    #dinner_form
    {
        padding: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #fff4e6;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    .dinner_container
    {
        margin: 10px;
        background-color: #fce6cc;
        padding: 1em;
        color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
        
}

#waitForSelection
{
    display: block;
}