#menu_body
{
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#menu_title
{
    margin-left: 5%; 
    margin-right: 5%;
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 3% 10% 3% 10%;
}

#packages_outer
{
    margin-left: 5%;
    margin-right: 5%;
    border-color: #000000;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

#packages_container
{
    cursor: pointer;
    margin: 10px;
    background-color: #fff4e6;
    padding: 1em;
    color: #000000;
}

#packages_container:hover
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#image_container
{
    height: 250px;
    background-color: #ffffff;
    padding-left: 7%;
    padding-right: 7%;
}

#packages_details
{
    font-family: rockwell, helvetica;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#package_name_container
{
    border-top: solid;
    padding-top: 2%;
    color: #000000;
    margin-bottom: 2%;
}

#des_container
{
    color: #000000;
    margin-bottom: 2%;
}

#price_container
{
    color: #000000;
    padding-bottom: 2%;
    border-bottom: solid;
}


@media only screen and (min-width: 768px) {
    #packages_outer
    {
        padding: 5%;
        margin-left: 3%;
        margin-right: 3%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    
    #packages_container
    {
        margin: 10px;
        background-color: #fff4e6;
        padding: 1em;
        color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #menu_title
    {
        margin-left: 3%; 
        margin-right: 3%;
        background-color: rgb(58, 57, 57);
        color: #ffffff;
        font-family: rockwell, helvetica;
        font-size: 1.5em;
        padding: 3% 10% 3% 10%;
    }

    #image_container
    {
        height: 250px;
        background-color: #ffffff;
        padding-left: 7%;
        padding-right: 7%;
    }
        
}

@media only screen and (min-width: 1180px) {
    #packages_outer
    {
        padding: 5%;
        margin-left: 5%;
        margin-right: 5%;
        border-top-style: solid;
        border-color: #000000;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    #packages_container
    {
        margin: 10px;
        background-color: #fff4e6;
        padding: 1em;
        color: #000000;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #menu_title
    {
        margin-left: 5%; 
        margin-right: 5%;
        background-color: rgb(58, 57, 57);
        color: #ffffff;
        font-family: rockwell, helvetica;
        font-size: 1.5em;
        padding: 3% 10% 3% 10%;
    }

    #image_container
    {
        height: 250px;
        background-color: #ffffff;
        padding-left: 7%;
        padding-right: 7%;
    }
        
}