.myBookingBody
{	
	background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
	height: 75%;
}

.myBookingBodyOverflow
{	
	padding-left: 0%;
	padding-right: 0%;
}

.myBookingTitle{
    background-color: rgb(58, 57, 57);
    color: #ffffff;
    font-family: rockwell, helvetica;
    font-size: 1.5em;
    padding: 3% 5% 3% 5%;
}

.myBookingContainer
{
	width: 100%;
	padding: 5%;
	background-color: #fff4e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

table.myBookingTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table.myBookingTable td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table.myBookingTable tr:nth-child(even) {
    background-color: #dddddd;
}

.myBookingTotalSec{
	background-color: #ffffff;	
}

.myBookingTotalBalance{
	background-color: grey;
	color: white;

}

#paid, #unpaid
{
	font-family: rockwell, helvetica;
	font-size: 1.7em;
}

@media only screen and (min-width: 768px) {

.myBookingBody
{
	padding-left: 10%;
	padding-right: 10%;
}
.myBookingBodyOverflow
{	

	padding-left: 10%;
	padding-right: 10%;
}


}