.paymentBody
{	
	height: 75%;
	padding-left: 0%;
	padding-right: 0%;
}

.paymentBodyOverflow
{	
	padding-left: 0%;
	padding-right: 0%;
}

.paymentTitle{
	background-color: rgb(58, 57, 57);
    color: #ffffff;
    font-size: 1.5em;
    padding: 3% 5% 3% 5%;
}

.paymentContainer
{
	width: 100%;
	padding: 5%;
	background-color: #fff4e6;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#summaryImageContainer{
	display:grid;
	justify-content: center;
	grid-auto-columns: max-content;
	height: 50px;
	grid-row: 1;
	background-color: grey;
}

#summaryPackageContainer{
	display: grid;
	justify-content: center;
	grid-auto-columns: max-content;
	grid-row: 2 ;
}

#summaryOrderSummary{
	display: grid;
	justify-content: center;
	grid-auto-columns: max-content;
	grid-row:  3;
}

@media only screen and (min-width: 768px) {

.paymentBody
{
	padding-left: 10%;
	padding-right: 10%;
}
.paymentBodyOverflow
{	

	padding-left: 10%;
	padding-right: 10%;
}

#summaryImageContainer{
	grid-column: 1;
	grid-row: 1 ;
	background-color: grey;
}
#summaryPackageContainer{
	grid-row: 1 ;
	grid-column: 2 ;
}
#summaryOrderSummary{
	display: grid;
	grid-row: 1 ;
	grid-auto-columns: max-content;
	grid-column:  3;
}

}