/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  /* background-color:  rgb(132, 136, 142, 0.8); */
  background-color: transparent;
}

a {
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

/* Logo and trigger section */
.cd-header {
  background-color: #ffffff;
  position: fixed;
  height: 75px;
  width: 100%;
  padding-left:5%;
  padding-right: 5%;  
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-top-style: solid;
  border-width: 5px;
  border-color: #2786ca;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cd-header::after {
  clear: both;
  content: "";
  display: table;
}
.cd-header.nav-is-visible {
  -webkit-transform: translateY(120px);
  -moz-transform: translateY(120px);
  -ms-transform: translateY(120px);
  -o-transform: translateY(120px);
  transform: translateY(120px);
}
@media only screen and (min-width: 768px) {
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
    transform: translateY(120px);
  }
}

.cd-logo {
  float: left;
  /* margin-top: 20px; */
}

.cd-3d-nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 10px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.cd-3d-nav-trigger span,
.cd-3d-nav-trigger span::before,
.cd-3d-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #000000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-3d-nav-trigger span {
  /* this is the central line */
  top: 21px;
  left: 8px;
  -webkit-transition: background 0.2s 0.5s;
  -moz-transition: background 0.2s 0.5s;
  transition: background 0.2s 0.5s;
}
.cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
  /* these are the upper and lower lines */
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform 0.2s 0.5s;
  -moz-transition: -moz-transform 0.2s 0.5s;
  transition: transform 0.2s 0.5s;
}

.cd-3d-nav-trigger span::before {
  bottom: 8px;
}
.cd-3d-nav-trigger span::after {
  top: 8px;
}
.nav-is-visible .cd-3d-nav-trigger span {
  /* hide line in the center */
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
  /* keep visible other 2 lines */
  background-color: #000000;
}
.nav-is-visible .cd-3d-nav-trigger span::before {
  -webkit-transform: translateY(8px) rotate(-45deg);
  -moz-transform: translateY(8px) rotate(-45deg);
  -ms-transform: translateY(8px) rotate(-45deg);
  -o-transform: translateY(8px) rotate(-45deg);
  transform: translateY(8px) rotate(-45deg);
}
.nav-is-visible .cd-3d-nav-trigger span::after {
  -webkit-transform: translateY(-8px) rotate(45deg);
  -moz-transform: translateY(-8px) rotate(45deg);
  -ms-transform: translateY(-8px) rotate(45deg);
  -o-transform: translateY(-8px) rotate(45deg);
  transform: translateY(-8px) rotate(45deg);
}

.cd-3d-nav-container {
  /* this is the 3D navigation container */
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 100%;
  background-color: #000000;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s;
}


.cd-3d-nav-container.nav-is-visible {
  visibility: visible;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
  transition: transform 0.5s 0s, visibility 0.5s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-3d-nav-container {
    height: 120px;
  }
}

/* -------------------------------------------------------------------- */

/* navigation bar original settings */
.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #343c55;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}


.cd-3d-nav::after {
  /* menu dark cover layer - to enhance perspective effect */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
  transition: opacity 0.5s 0s, visibility 0.5s 0s;
}
.cd-3d-nav li {
  height: 100%;
  width: 20%;
  float: left;
}
.cd-3d-nav li:first-of-type a::before {
  background-image: url(../Media/Default/icon-2.svg);
}
.cd-3d-nav li:nth-of-type(2) a::before {

}

.cd-3d-nav li:nth-of-type(3) a::before {

}

.cd-3d-nav li:nth-of-type(4) a::before {
  background-image: url(../Media/Default/cart.svg);
}
.cd-3d-nav li:nth-of-type(5) a::before {
  background-image: url(../Media/Default/user.svg);
}

.cd-3d-nav a {
  position: relative;
  display: block;
  height: 100%;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  padding: 6.5em 1em 0;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* truncate text with ellipsis if too long */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cd-3d-nav a::before {
  /* navigation icons */
  content: '';
  height: 32px;
  width: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: 32px 64px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Color of the list when hover */
.no-touch .cd-3d-nav a:hover {
  background-color: #2b3145;
}

/* color of the list when being pressed and maintain the same color */
.cd-3d-nav .cd-selected a {
  background-color: #212635;
}
.no-touch .cd-3d-nav .cd-selected a:hover {
  background-color: #212635;
}
.cd-3d-nav .cd-selected a::before {
  background-position: 0 -32px;
}

.nav-is-visible .cd-3d-nav {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.nav-is-visible .cd-3d-nav::after {
  /* menu cover layer - hide it when navigation is visible */
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
  transition: opacity 0.5s 0s, visibility 0s 0.5s;
}

/* Desktop settings for Navigation Bar */
@media only screen and (min-width: 768px) {
  .cd-3d-nav a {
    padding: 6.5em 1em 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* truncate text with ellipsis if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cd-3d-nav a::before {
    top: 3em;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 25%;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(180deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
}
.cd-marker::before {
  /* triangle at the bottom of nav selected item */
  content: '';
  position: absolute;
  bottom: 3px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-bottom-color: inherit;
}
.nav-is-visible .cd-marker {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

/* these are the colors of the markers - line + arrow */
.color-1 {
  color: #ffffff;
  background-color: #ffffff;
}

.color-2 {
  color: #ffffff;
  background-color:#ffffff;
}

.color-3 {
  color: #ffffff;
  background-color: #ffffff;
}

.color-4 {
  color: #ffffff;
  background-color: #ffffff;
}

.color-5 {
  color: #ffffff;
  background-color: #ffffff;
}

.content{
  z-index: -1;
  width: 100%;
  padding-top: 75px; 
}

@media only screen and (min-width: 768px) {
  .content{
    
    width: 100%;
    padding-top: 75px; 
  }
}




/*----------------------------------------------------------------- */
/* loginPage.html css settings*/
/* ---------------------------------------------------------------- */

/* homePage settings for login section */
#login_main_overlay
{
    cursor: default;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* position: absolute; */
    /* background: rgba(22, 54, 194, 0.9); */
    background: rgb(132, 136, 142, 0.8);
    z-index: 3;
    cursor: pointer;
}

/* Login page body */
#login_section_title
{
  cursor: default;
  text-align: center;
  background-color: #2786ca;
  border-bottom-style: solid;
  border-width: 5px;
  border-color: #000000;
  /* padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%; */
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  border-radius: 1%;
}

#upper
{
  margin-top: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  /* border-style: solid;
  border-width: 5%; */
}

.signIn
{
  font-family: rockwell;
  font-size: 150%;
  margin-top: 3%;
  text-align: left;
}

#login_username
{
  /* margin-left: 5%;
  margin-right: 5%; */
  border-style: solid;
  border-width: 0.5%;
  border-color: #000000;
  margin-top: 2%;
  height: 30px;
  width: 100%;
  font-family: rockwell;
  font-size: 80%;
}

#login_password
{
  border-style: solid;
  border-width: 0.5%;
  border-color: #000000;
  height: 30px;
  width: 100%;
  font-family: rockwell;
  font-size: 80%;
}

#login_button
{
  cursor: pointer;
  width: 100%;
  background-color: #2786ca;
  color:white;
  padding: 5px 20px;
  font-family: verdana, arial;
  text-align: center;
    
  /* -webkit-transition-duration: 0.5s; */
  transition-duration: 0.4s;
  border-radius: 6px;
  font-family: helvetica;
  font-size: 120%;
}

#login_button:hover
{
  background:#145c8f;
  font-weight: 900;
  letter-spacing: 1px;
}

#login_close
{
  cursor: pointer;
  margin-top: 5%;
}

.noAcc
{
  margin-top: 5%;
}

.noAcc a
{
  color:#297db9;
}

.noAcc a:hover
{
  color: red;
}

@media only screen and (min-width: 768px){
  #login_section_title
  {
    text-align: center;
    background-color: #2786ca;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #000000;
    padding-top: 3%;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1%;
  }

  #upper
  {
    margin-top: 1%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    /* border-style: solid;
    border-width: 5%; */
  }
}

@media only screen and (min-width: 1180px)
{
  #login_section_title
  {
    text-align: center;
    background-color: #2786ca;
    border-bottom-style: solid;
    border-width: 5px;
    border-color: #000000;
    padding-top: 3%;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    border-radius: 1%;
  }

  #upper
  {
    margin-top: 1%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    /* border-style: solid;
    border-width: 5%; */
  }
}

/* ------------------------------------------------------------------- */
/* Sign Up */
/* ------------------------------------------------------------------- */
#signup
{
  /* display: none; */
  cursor: default;
  font-family: rockwell;
  background-color:#2786ca; 
  text-align: center;
  margin-top:8%; 
  margin-left: 10%;
  margin-right: 10%;
  padding-top:2%; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

#signUp_content
{
  margin-top: 1%;
  background-color: #ffffff;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  padding-bottom:6%;
}

#content
{
  text-align: left;
  margin-top: 3%;
}

#content input
{
  /* border-style: solid;
  border-width: 0.5%;
  border-color: #000000; */
  margin-top: 2%;
  height: 30px;
  width: 100%;
  font-family: rockwell;
  font-size: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.signup_button
{
  cursor: pointer;
  margin-top: 6%;
  padding-top:2%;
  padding-bottom: 2%; 
  padding-left:10%; 
  padding-right:10%;
  border-color: #000000;
  background-color: #2786ca;
  color:white;
  font-family: verdana, arial;
  text-align: center;
  width: 100%;
            
          /* -webkit-transition-duration: 0.5s; */
  transition-duration: 0.4s;
  border-radius: 6px;
  font-family: helvetica;
  font-size: 120%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

#signup_close
{
  cursor: pointer;
  margin-top: 3%;
}

.signup_button:hover 
{
  background:#145c8f;
  font-weight: 900;
  letter-spacing: 1px;
}

@media only screen and (min-width: 768px)
{
  #signup
  {
    font-family: rockwell;
    background-color:#2786ca; 
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:3%; 
    padding-top:2%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (min-width: 1180px)
{
  #signup
  {
    font-family: rockwell;
    background-color:#2786ca; 
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top:2%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  }
}
/* ------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------- */

.footer
{
  margin-top: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
}

.footer_content
{
  color: #ffffff;
}

#About
{
  color: #ffffff;
}

.copyright
{
  text-align: center;
}

.section
{
  font-family: rockwell, helvetica;
  font-size: 1.3em;
}

#aboutContent
{
  padding-right: 5%;
  padding-top: 3%;
}

#slogan
{ 
  margin-top: 5%;
  margin-left: 5%;
  font-family: rockwell, helvetica;
  font-size: 1.5em;
}

.contact_details
{
  padding-top: 3%;
}

.CD
{
  padding-top: 1%;
  padding-left: 3%;
}

#about_c
{
  line-height: 25px;
}

@media only screen and (min-width: 768px)
{
  #About
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width: 1180px)
{
  #About
  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}