#profile_pic_container
{
    height: 200px;
    padding-top: 2%;
    padding-left:20%;
    padding-right: 20%; 
    padding-bottom: 2%;
    background: rgba(0, 0, 0, 0.20);
}

#profile_pic
{
    background-color: #ffffff;
}



/* account details display */
/* ---------------------------------------------------------------- */
#account_container
{
    display: block;
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    padding: 5%;
}

.account_content
{
    padding-left:1%;
    padding-right: 5%;
    padding-top: 5%; 
    border: solid;
    background-color: white;   
}

#account_table
{
    border-top: solid;
    border-bottom: solid;

    background-color: white;
    padding: 5%;
    width: 100%;
}

#account_table tr
{
    border-bottom: solid;
    border-width: thin;
    padding-top: 5px;
    margin-top: 2%;
}

#account_table td
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#account_table td:nth-child(odd)
{
    font-style: italic;
    /* padding-left: 2%; */
    font-family: rockwell;
}

#account_table td:nth-child(even)
{
    border-width: 1%;
    padding-left: 1%;
    /* padding-right: 20px; */
    font-family: helvetica;
}


#account_pHistory
{
    cursor: pointer;
    background-color: #2786ca;
    color:white;
    padding: 5px 20px;
    font-family: verdana, arial;
    text-align: center;
      
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: helvetica;
    font-size: 100%;
}

#edit_button_container
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;

}

#acc_edit_button
{
    width: 100%;
    cursor: pointer;
    background-color: #2786ca;
    color:white;
    padding: 5px 20px;
    font-family: verdana, arial;
    text-align: center;
      
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: helvetica;
    font-size: 100%;  
}

#logout
{
    text-align: center;
    margin-top: 5%;
}

#logout a
{
    color:#000000;
}

#logout a:hover
{
    color: red;
}

@media only screen and (min-width: 768px) 
{
    #account_container
    {
        display: block;
        background-color: #ffffff;
        padding-left: 15%;
        padding-right: 15%;
    }

    #profile_pic_container
    {
        height: 350px;
        padding-top: 2%;
        padding-left:20%;
        padding-right: 20%; 
        padding-bottom: 2%;
        background: rgba(0, 0, 0, 0.20);
    }
}
/* -------------------------------------------------------------------- */







/* account details edit */
/* -------------------------------------------------------------------- */
#account_container_edit
{
    display: none;
    background-image: url("../Media/Default/b.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    padding: 5%;
}

#account_form_container
{
    border: solid;
    padding: 5%;
    padding-bottom: 1%;
    background-color: white;
}

#image_upload_submit
{
    margin-top: 2%;
}

#account_form_content
{
    margin-top: 2%;
    margin-left: 5%;
}

#form_table
{
    border-top: solid;
    border-bottom: solid;

    background-color: white;  
    width: 100%;
}

#form_table tr
{
    border-bottom: solid;
    border-width: thin;
    padding-top: 5px;
    margin-top: 2%;
}

#form_table td
{
    padding-top: 20px;
    padding-bottom: 20px;
}

#form_table td input
{
    font-family: helvetica;
    font-size: 85%;
    width: 90%;
    height: 30px;
    color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td:nth-child(odd)
{
    width: 200px;
}

/* Error Messages */

#form_email_error
{
    display: none;
    margin-top:2%; 
    /* display: none; */
    color: red; 
}

#form_retype_error
{
    display: none;
    margin-top:2%; 
    /* display: none; */
    color: red; 
}

#update_button_container
{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;

}

#acc_update_button
{
    width: 100%;
    cursor: pointer;
    background-color: #2786ca;
    color:white;
    padding: 5px 20px;
    font-family: verdana, arial;
    text-align: center;
      
    /* -webkit-transition-duration: 0.5s; */
    transition-duration: 0.4s;
    border-radius: 6px;
    font-family: helvetica;
    font-size: 100%;  
}

#backtoAcc
{
    text-align: center;
    margin-top: 5%;
}

#backtoAcc a
{
    color:#297db9;
}

#backtoAcc a:hover
{
    color: red;
}

@media only screen and (min-width: 768px) 
{
    #account_container_edit
    {
        display: none;
        background-color: #ffffff;
        padding-left: 15%;
        padding-right: 15%;
    }

    #profile_pic_container
    {
        height: 350px;
        padding-top: 2%;
        padding-left:20%;
        padding-right: 20%; 
        padding-bottom: 2%;
        background: rgba(0, 0, 0, 0.20);
    }
}